.MuiTab-root.Mui-selected {
  color: #ff395c !important;
}

.MuiTabs-indicator {
  display: none !important;
}

body {
  background-color: #fff;
}

p {
  font-size: 0.5rem;
}

.css-1hqhqnd-MuiTabs-indicator {
  display: none;
}

.css-1lag5c4-MuiButtonBase-root-MuiTab-root {
  justify-content: end;
}

.css-1s6uyno {
  margin-top: 30px;
  margin-bottom: 30px;
}

.css-1yvkr80-MuiTabs-root .MuiTabs-scrollButtons {
  display: "none";
}

/* label {
  position: absolute;
  left: -100vw;
} */

/* input,
textarea {
  display: block;
} */

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.flexContainer {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.map-container {
  width: auto;
  height: 200px;
}
